.SignUpForm {
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.SignUpForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.SignUpForm ul {
  list-style-type: none;
  padding: 0;
}

.SignUpForm li {
  margin-bottom: 10px;
}

.SignUpForm label {
  display: block;
  margin-bottom: 5px;
}

.SignUpForm input[type="text"],
.SignUpForm input[type="email"],
.SignUpForm input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.SignUpForm button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.SignUpForm button:hover {
  background-color: #0056b3;
}

.errorMsg {
  margin: 4px 0;
  color: red;
}
