/* 메인 배경 이미지 */
.bg-box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 5%;
  background-color: #cdf3ff;
}

.bg-img {
  width: 100%;
}

.map-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 25px;

  background-color: #0075ff;
  color: #ffffff;
  font-family: "Pretendard";
  border: none;
  border-radius: 30px;

  cursor: pointer;
}

.map-btn-img {
  width: 10px;
  height: auto;
}

.map-btn-text {
  white-space: nowrap;
}

.mainPage {
  display: flex;
  margin: 0 10%;
  min-height: 100vh;
  flex-direction: column;
  background-position: top 75px, left center;
  background-size: contain;
  background-repeat: no-repeat;
}

.place-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

/* 검색 */

.search-form {
  border: 1.5px solid #0075ff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 0px 1px 15px;
}

.search-input {
  width: 80%;
  flex-grow: 1;
  border: none;
  background-color: transparent;

  font-size: 15px;
  font-family: "Pretendard";
  font-weight: 600;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  display: flex;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0;
  cursor: pointer;
}

.search-btn img {
  width: 100%;
}

/* 필터바 */

.mainPage-filter-btn-box {
  display: flex;
  justify-content: start;
  gap: 8px;
  padding: 2% 3% 0 0;
}

.filter-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  padding-bottom: 15px;
}

.filter-btn:hover {
  border-bottom: 2px solid #0075ff;
}

.filter-btn.selected-btn {
  border-bottom: 2px solid #0075ff;
}

.place-nav-line {
  border: #9d9d9d 0.7px solid;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}
