.login-form {
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #0075ff;
  border-radius: 15px;
}

.login-form h2 {
  font-family: Pretendard;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.login-form div {
  padding: 2% 5%;
  margin: 0;
}

.input-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 80%;
  padding: 13px 10px;
  border: 1.7px solid #0075ff;
  border-radius: 30px;
}

.login-btn-box {
  display: flex;
  justify-content: center;
}

.login-btn {
  width: 50%;
  border: none;
  border-radius: 30px;
  background-color: #007bff;

  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;

  padding: 12px 10px;
  cursor: pointer;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-line {
  margin: 6% 0;
}

.social-login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.social-btn {
  width: 57%;
  border: none;
  border-radius: 30px;
  background-color: #04c75b;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding: 11px 8px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social-btn img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
}

.google-btn {
  background-color: #ededed;
  color: #3b1e1e;
}
