.map-box {
  position: relative;
}

/* 상단 타입 필터 박스 */

.type-filter-container {
  display: flex;
  justify-content: center;
}

.type-filter-box {
  display: flex;
  flex-direction: row;
  gap: 65%;

  position: absolute;
  top: 10%;
  right: 53%;
  transform: translate(-50%, -50%);
}

.type-filter-btn {
  width: 15px;
}

.type-filter-btn img {
  width: 65px;
}

/* 우측 사이즈 필터, 검색, 북마크 박스*/

.dogSize-filter-container {
  height: 100%;
}

.dogSize-filter-box {
  display: flex;
  flex-direction: column;
  gap: 10%;

  position: absolute;
  top: 25%;
  right: 3%;
}

.dogSize-filter-box button {
  margin: 10%;
}

/* 사이즈 필터 모달 */

.filter-btn-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

/* 상세 정보창 */

.name-type-rate-bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-type-rate {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.bookmark-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  background-color: transparent;
  border: 1px solid #0075ff;
  border-radius: 30px;
  padding: 1.5% 3%;
  cursor: pointer;
}

.bookmark-btn img {
  width: 20px;
}

.place-name {
  font-size: 20px;
  font-weight: 700;
}

.place-type {
  color: #7b7b7b;
}

.info-window-line {
  padding: 0;
}

.isOpen-add {
  display: flex;
  flex-direction: column;
}

.isOpen-box {
  display: flex;
  align-items: center;
  padding: 1%;
  margin-top: 1%;
}

.info-img {
  width: 15px;
  padding: 2px;
  margin-right: 5px;
}

.place-add {
  display: flex;
  align-items: center;
  padding: 0 1%;
}

.place-call {
  display: flex;
  align-items: center;
  padding: 1%;
}

.place-imgs {
  display: flex;
  gap: 2%;
  overflow-x: auto; /* 내용이 요소의 크기를 벗어날 때 가로 스크롤을 표시합니다. */
  white-space: nowrap;
}

.place-img {
  width: 30%;
  padding: 1%;
  border-radius: 20px;
}

.review-box {
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
}

.review-box button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* 리뷰 작성 폼 */

.review-box {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.review-info-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.review-info {
  display: flex;
  align-items: center;
  text-align: center;
}

.rate-img {
  width: 13px;
  margin: 0 4px;
  padding-bottom: 2px;
}

.review-form-box {
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
}

.review-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review-list {
  display: flex;
  align-items: center;
  gap: 5%;
  font-family: "Pretendard";
  padding: 2% 3%;
  border: 1px solid #7b7b7b;
  border-radius: 15px;
  margin: 2% 0;
}

.review-profile-img {
  width: 50px;
  padding: 5px;
}

.review-content-box {
  display: flex;
  flex-direction: column;
}

.review-rate {
  margin-left: 10px;
}

.reivew-content {
  color: #7b7b7b;
  padding-top: 5px;
  width: 400px;
  word-wrap: break-word;
}
