/* 검색 */

.MapSearch-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 997;
}

.MapSearch-box {
  position: fixed;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.MapSearch-text {
  color: #ffffff;
  font-size: 30px;
}

.MapSearch-form {
  border: 1.5px solid #0075ff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 0px 1px 15px;
  background-color: #ffffff;
}

.MapSearch-input {
  width: 80%;
  flex-grow: 1;
  border: none;
  background-color: transparent;

  font-size: 15px;
  font-family: "Pretendard";
  font-weight: 600;
}

.MapSearch-input:focus {
  outline: none;
}

.MapSearch-btn {
  display: flex;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0;
  cursor: pointer;
}

.MapSearch-btn img {
  width: 100%;
}
