.logo-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 15%;
  margin-top: 3%;
}

.sign-form {
  width: 40%;
  margin: 20px auto;
  padding: 25px 30px;
  border: 2px solid #0075ff;
  border-radius: 15px;
}

.sign-form h2 {
  font-family: Pretendard;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.input-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.sign-form input[type="text"],
.sign-form input[type="email"],
.sign-form input[type="password"] {
  width: 80%;
  padding: 13px 10px;
  border: 1.7px solid #0075ff;
  border-radius: 30px;
}

.input-box {
  position: relative;
  width: 100%;
}

.errorMsg {
  margin: 4px 0;
  font-size: 13px;
  color: red;
  position: absolute;
  right: 14%;
  top: 22%;
}

/* .sign-form input:focus {
  background-color: #0075ff;
  opacity: 20%;
} */

.signup-btn-box {
  display: flex;
  justify-content: center;
}

.sign-form button {
  width: 50%;
  border: none;
  border-radius: 30px;
  background-color: #007bff;

  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;

  padding: 11px 10px;
  cursor: pointer;
  margin-top: 20px;
}

.sign-form button:hover {
  background-color: #0056b3;
}
